.intro{
  padding:40px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);

  .logo{
    width:130px;
  }

  h1{
    margin:0;
    font-family: var(--ff-title-primary);
    font-size: var(--fz-h1);
    line-height: var(--lh-extra-thin);
  }

  span{
    display:block;
  }
}